<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script>
        // Function to validate password and confirm password fields
        function validatePasswords() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            
            if (password !== confirmPassword) {
                alert("Passwords do not match. Please try again.");
                return false;  // Prevent form submission
            }
            return true;  // Allow form submission if passwords match
        }
    </script>
</head>
<body>
    <h2>Reset Password</h2>
    <form method="POST" action="{{ url_for('reset_password', token=token) }}" onsubmit="return validatePasswords();">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
    <p>{{ msg }}</p>

    <a href="{{ url_for('login') }}">Go to Login</a>
</body>
</html>
